.message {
    padding: 1rem;
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
.message-type-e {
    color: red;
}
.message-type-w {
    color:yellow;
}
.message-type-i {
    color:blue;
}