header {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

h1 {
  font-family: "Saira Stencil One", cursive;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

.svg-data {
  padding: 1rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
  width:100%
}
.flex-grow {
  flex-grow: 1;
}
.flex-row {
  display: flex;
}
.flex-wrap {
  flex-wrap:wrap;
}
.flex-align-center{
  align-items: center;
}
.right-panel {
  overflow: hidden;
}
.title-letters {
  color: red;
}
.has-hmargin-1 {
  margin-left: 1px;
  margin-right: 1px;
}
.has-hmargin-med {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.move-up-down-buttons {
  display: flex;
}
.align-self-center {
  align-self: center;
}
main .panel {
  
  width:600px;
  max-width: 100%;
}
@media (min-width:1200px) {
  main .panel {
    margin-right: 1rem;
  }
}