h1 {
  font-family: "Saira Stencil One", cursive;
  text-transform: uppercase;
}
.svg-data {
  padding: 1rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.flex-row {
  display: flex;
}
.flex-wrap {
  flex-wrap:wrap;
}
