header {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

h1 {
  font-family: "Saira Stencil One", cursive;
  text-transform: uppercase;
}
h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

.svg-data {
  padding: 1rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.flex-row {
  display: flex;
}
.flex-wrap {
  flex-wrap:wrap;
}
.flex-align-center{
  align-items: center;
}
.right-panel {
  overflow: hidden;
}
.title-letters {
  color: red;
}
