body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Open Sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
margin:2rem 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  font-family: "Oswald", sans-serif;
}
.bordered {
  border: 1px solid black;
}
.margined {
  margin:1px;
}
button, select, input {
  background: none;
  border: 1px solid black;
  font-family: "Oswald", sans-serif;
  border-radius: 2px;
  margin:1px;
}
button:hover {
  background: black;
  color:white;
}

input {
padding: 1px;
margin: 1px;
}