.shapes-list  > div:first-of-type .move-up-button {
    visibility: hidden;
    /* background-color: red; */

}

.shapes-list > div:last-of-type .move-down-button   {
    /* background-color: aquamarine; */
    visibility: hidden;
}

.selected-shape {
    background: wheat;
}

.edit-enable-btn {
    width:1.5rem;
}